.Munchkin-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 14px;
    row-gap: 30px;
    grid-template-areas:
        "gender-help-text"
        "name-input"
        "gender-input"
        "level-gear-help-text"
        "level-input"
        "gear-input"
        "power-help-text"
        "power";

    margin: auto;
    padding: 20px;
    text-align: left;
}


.Munchkin-name-gender-help-text {
    grid-area: gender-help-text;
}

.Munchkin-level-gear-help-text {
    grid-area: level-gear-help-text;
}

.Munchkin-name-input {
    grid-area: name-input;
}

.Munchkin-gender-input {
    grid-area: gender-input;
}


.Munchkin-level-input {
    grid-area: level-input;
}

.Munchkin-gear-input {
    grid-area: gear-input;
}

.Munchkin-power-help-text {
    grid-area: power-help-text;
}

.Munchkin-power {
    grid-area: power;
    text-align: center;
}

@media (min-width: 480px) {
    .Munchkin-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "gender-help-text       ."
            "name-input             gender-input"
            "level-gear-help-text   ."
            "level-input            gear-input"
            "power-help-text        ."
            "power                  power";
        padding: 20px 40px 40px;
    }
}


@media (min-width: 786px) {
    .Munchkin-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "gender-help-text       . name-input    gender-input"
            "level-gear-help-text   . level-input   gear-input"
            "power-help-text        . power         power";
        padding: 40px 60px 80px;
    }
}
